kbd { border: 1px solid #999; border-radius: 2px; padding: 2px 4px; background-color: #f5f5f5; font-weight: bold; }
dialog:not([open]) { display: none; }
dialog header { margin-bottom: .5em; font-weight: bold; }
dialog section { margin: .5em 0; }
dialog section label { display: block; }
dialog footer { margin-top: 1em; display: flex; gap: .5em 1em; flex-direction: row; flex-wrap: wrap; }
dialog footer input { flex-grow: 1; }
body > footer { margin-top: 1em; text-align: center; font-size: small; }
#viewer { border: thin ridge #0066CC; padding: 0.5em; background-color: #f8f8ee; white-space: pre-wrap; }
#viewer a[tabindex] { border: thin dotted #AAA; }
#viewer a:focus { outline: medium solid blue; }
#viewer a.single, .single { background-color: #DDDDDD; }  /* 單選字 */
#viewer a.changed, .changed { background-color: #DDDDFF; }  /* 異動字 */
#viewer a.unchecked, .unchecked { background-color: #FFFF99; }  /* 未審字 */
#viewer a.checked, .checked { background-color: #CCFFFF; }  /* 已審字 */
#viewer a.picked, .picked { background-color: #CCFFCC; }  /* 選定字 */
#viewer a.editing, .editing { background-color: #FFDDDD; }  /* 編輯中 */
#viewer a ins, #viewer a del { text-decoration: none; }
.popup {
  position: absolute;
  z-Index: 1;
  margin: 1.5em 0.5em 0.5em 0.5em;
  border: 1px solid #666;
  padding: 0.5em;
  max-width: 80%;
  background-color: #fff;
  box-shadow: 1px 1px 2px #000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.popup a { padding: .3em; cursor: pointer; }
.popup a:hover { background-color: #ccc; }
.popup a:not([tabindex="0"])::before { content: attr(tabindex) "."; }

{%- if not single_page %}
#panel section { margin: .5em auto; }
#panel textarea { width: 100%; height: 30vh; min-height: 60px; box-sizing: border-box; resize: vertical; }
#panel-options textarea { width: 80vw; height: 30vh; max-width: 100%; box-sizing: border-box; }
#panel-options input[type="text"] { width: 80vw; max-width: 100%; box-sizing: border-box; }
@media (max-width: 480px) {
  #panel-options textarea { width: 100vw; }
  #panel-options input[type="text"] { width: 100vw; }
}
@media (max-height: 300px) {
  #panel-options textarea { height: unset; }
}
{%- endif %}
